@CHARSET "UTF-8";

div.form, div.index, div.view {
    border-left: 1px solid #666666;
    float: right;
    padding: 10px 2%;
    width: 76%;
}

/**  Actions  **/
.actions ul {
	margin: 0;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

/* Buttons and button links */
/*input[type=submit],
.actions ul li a,
.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}*/

.actions ul li a:hover,
.actions a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}

input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
	background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
	background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
	background-image: -o-linear-gradient(top, #dfdfdf, #eee);
	background-image: linear-gradient(top, #dfdfdf, #eee);
	text-shadow: #eee 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
}
dl .dd:nth-child(4n+2),
dl .dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 12em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
/*	color: #e32;*/
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}

form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}

* paginacao */
.paginacao {margin:30px 0 auto; width:100%; text-align: center;}
.paginacao li {display:inline-block; margin:0 5px 0 0; *float:left;}
.paginacao li a {background:#fff; font-size:11px; border:1px solid #0c6ca6; color:#0c6ca6; text-align:center; font-weight:bold; padding:5px 8px; display:block;}
.paginacao li a:hover {background:#0c6ca6; color:#fff; text-decoration:none;} 
.paginacao li.pgoff {font-weight:normal; color:#666; padding:5px 8px;}
.paginacao li a.pgpro, #paginacao li a.pgant {}
.paginacao li a.pgpro:hover, #paginacao li a.pgant:hover {color:#fff;}
.paginacao li .current {background:#0c6ca6; color:#fff; font-size:11px; border:1px solid #0c6ca6; text-align:center; font-weight:bold; padding:5px 8px; display:block;}
.paginacao li .disabled {display: none;}

.grid .hitem {
	width: 220px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	position: relative;	
}

.grid .hitem .title-item {
	padding: 10px;
}

.footer{
    height: 142px;
    background: url('../img/footer.png');
}

.imgFooter{
	background: url('../img/footer2.png') no-repeat; 
	height: 100%; 
}

.textFooter{
	text-align: right; 
	padding-right: 20px;
	color: #ffffff;
	padding-top: 28px;
}

.center{
	text-align: center;
}

.space{
	margin-bottom: 10px;
}

.floatLeft{
	float: left;
}

.ProductHeader{
	color: #0080aa;
}

#prods ul
{
	text-align: center;
	list-style-type: none;
}

#prods ul li
{
	display: block;
}

.SearchWell{
	padding: 5px !important;
	background-color:#0080fc !important;
}

//SUBMARINO
ul{list-style:none outside;}
.prodList .li{text-align:center;}
.grid .prodList{text-align:center;}
.grid .hproduct{width:220px;padding:10px;margin:0 auto;text-align:center;position:relative;}
.prodList{overflow:hidden;}
.prodList .li{border-top:1px dotted #ccc;position:relative;top:-1px;padding:10px 0;}
.prodList .list .hproduct .sVideo,.prodList .list .hproduct .mDet{position:absolute;top:165px;left:30px;}
.prodList .list .hproduct .rChap,.prodList .list .hproduct .lTrack{position:absolute;top:165px;left:20px;}
.threeCol .grid .li{width:31%;}
.list .li{display:block;overflow:hidden;}
.grid .li{display:-moz-inline-box;display:inline-block;vertical-align:top;word-spacing:0;}

body{
/* 	background: url("../img/wallpaper.png") !important; */
}
.centerLogin {
    top: 50%;
    left: 50%;
    margin-left: -185px;
    margin-top: -112.5px;
    width: 370px;
    height: 225px;
    position: absolute;
}